<div class="container">
  <section class="addonssec">
    <div class="comparehead">Plan Details</div>

    <div class="addonsbox">
      <div class="addonsin">
        <ul>
          <li class="bold">Exam Plus</li>
          <li>Behavioral Problems</li>
          <li>Emergency Hospitals</li>
          <li>Primary Care Vets</li>
          <li>Speciality Clinics</li>
          <li class="bold">Hereditary Plus</li>
          <li>Arthitis</li>
          <li>Diabetics</li>
          <li>Elbow Displacia</li>
          <li>Eye Disorders</li>
          <li>Heart Disease</li>
          <li>Hip Displacia</li>
          <li>Luxating Patella</li>
          <li>Spondolysis</li>
          <li class="bold">Breeding Coverage</li>
<li class="bold">Support Plus</li>
<li>Cremation</li>
<li>Burial</li>
<li>Urns</li>
<li>Memorials</li>
<li class="bold">Defender Plus</li>

















        </ul>
      </div>
    </div>
  </section>
</div>
