@import "../../variable.scss";

.notcoveredsec {
    border: 1px solid $primary_color;
    border-radius: 8px;
    .comparehead {
        background-color: #b1f1ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 24px 12px;

        font-family: $fontfamily;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: $primary_color;
    }
    .notcoverbox {
        border: 1px solid $violet;
        border-radius: $radius;
        background-color: #FFE5E5;
        margin: 6px;
        .notcoverin {
            margin: 10px 10px 10px 30px;
            ul {
                padding-bottom: 10px;
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: $fontfamily;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
