<div class="container">
    <section class="notcoveredsec">
        <div class="comparehead">Plan Details</div>

        <div class="notcoverbox">
            <div class="notcoverin">
                <ul>
                    <li>Anal gland expression</li>
                    <li>Breeding</li>
                    <li>Effective procedures</li>
                    <li>Euthanasia</li>
                    <li>Experimental Treatments</li>
                    <li>Grooming</li>
                    <li>Microchip</li>
                    <li>Mobility Devices </li>
                    <li>Nail Trims</li>
                    <li>Non-Routine Dental</li>
                    <li>Parasites</li>
                    <li>Pet Ambulance</li>
                </ul>
            </div>
        </div>
    </section>
</div>
