<div class="container">
    <section class="enrollsection">
        <h5>Enrollment</h5>
    </section>
    <section class="formsection">
        <div class="formhead">Your Details</div>
        <div class="formout">
            <label for="">First Name*</label>
            <input type="text" class="fieldstyle" placeholder="First Name">
        </div>
        <div class="formout">
            <label for="">Last Name*</label>
            <input type="text" class="fieldstyle" placeholder="Last Name">
        </div>
        <div class="formhead">Permanent Address</div>
        <div class="formout">
            <label for="">Address*</label>
            <input type="text" class="fieldstyle" placeholder="Address">
        </div>
        <div class="formout">
            <label for="">Street*</label>
            <input type="text" class="fieldstyle" placeholder="Street">
        </div>
        <div class="formout">
            <label for="">City*</label>
            <input type="text" class="fieldstyle" placeholder="City">
        </div>
        <div class="formout">
            <label for="">State*</label>
            <input type="text" class="fieldstyle" placeholder="State">
        </div>
        <div class="formout">
            <label for="">ZIP Code*</label>
            <input type="text" class="fieldstyle" placeholder="ZIP Code">
        </div>
        <div class="formout">
            <label for="">Phone Number*</label>
            <input type="text" class="fieldstyle" placeholder="Phone Number">
        </div>
        <div class="formout">
            <label for="">E-mail address*</label>
            <input type="text" class="fieldstyle" placeholder="E-mail address">
        </div>


        <div class="formout">
            <span class="checkboxdiv">
                <mat-checkbox>I have read and accept the email and phonenumber privacy policy and terms</mat-checkbox>

            </span>
            <span class="checkboxdiv">
                <mat-checkbox>Go paperless. Get your policy online in the member center and communications by email
                    rather than mail</mat-checkbox>
            </span>
        </div>


        <div class="paymentbox">
            <a href="" class="payment">Proceed to Payment</a>
        </div>
        <section class="billsection">
            <div class="formout">
                <span class="checkboxdiv">
                    <mat-checkbox>Billing Address same as Permanent Address</mat-checkbox>
    
                </span>
                </div>

            <div class="formhead">Billing Address</div>
            <div class="formout">
                <label for="">Address*</label>
                <input type="text" class="fieldstyle" placeholder="Address">
            </div>
            <div class="formout">
                <label for="">Street*</label>
                <input type="text" class="fieldstyle" placeholder="Street">
            </div>
            <div class="formout">
                <label for="">City*</label>
                <input type="text" class="fieldstyle" placeholder="City">
            </div>
            <div class="formout">
                <label for="">State*</label>
                <input type="text" class="fieldstyle" placeholder="State">
            </div>
            <div class="formout">
                <label for="">ZIP Code*</label>
                <input type="text" class="fieldstyle" placeholder="ZIP Code">
            </div>
            <div class="formhead">Payment Method</div>
            <div class="formout">
                <label for="">Name*</label>
                <input type="text" class="fieldstyle" placeholder="Name">
            </div>
            <div class="formout">
                <label for="">Card Number*</label>
                <input type="text" class="fieldstyle" placeholder="Card Number">
            </div>
            <div class="cvv">
                <div class="formout">
                    <label for="">Expiry*</label>
                    <input type="text" class="fieldstyle" placeholder="Expiry">
                </div>
                <div class="formout">
                    <label for="">CVV*</label>
                    <input type="text" class="fieldstyle" placeholder="CVV">
                </div>
            </div>
            <div class="submitbox">
                <div class="doller">$23 <br> <span>Monthly</span></div>
                <button class="submit">Submit</button>
            </div>
        </section>

    </section>

</div>