@import "../../variable.scss";

.comparein {
    border: 1px solid $primary_color;
    border-radius: 8px;

    .comparehead {
        background-color: #b1f1ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 13px 12px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-family: $fontfamily;
        font-weight: 600;
        font-size: 22px;
        color: $primary_color;
    }
    .summarysec {
        border: 1px solid $violet;
        border-radius: $radius;

        margin: 6px;
        .summarysectop {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 0 9px;

            .summaryleft {
                width: 50%;
                border-right: 1px solid #702c90;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
            .summaryright {
                width: 50%;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .summaryhead {
            background-color: $violet;
            padding: 6px 0;
            text-align: center;
            font-family: $fontfamily;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: $white;
        }
        .planbox {
            width: 100%;
            .planboxin {
                display: flex;
                .planleft {
                    width: 50%;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    font-family: $fontfamily;
                    padding: 5px 10px;
                    border-right: 1px solid $violet;
                    color: $primary_color;
                    span {
                        font-weight: 500;
                    }
                }
                .planright {
                    width: 50%;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    font-family: $fontfamily;
                    padding: 5px 10px;
                    color: $primary_color;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        .comparelist {
            width: 100%;
            display: flex;
            background-color: #ffe5e5;
            .comparelistin {
                width: 50%;
                border-right: 1px solid #702c90;
                &:last-child {
                    border: none;
                }
                .listhead {
                    font-size: 10px;
                    font-weight: 600;
                    color: $primary_color;
                    padding-left: 8px;
                    line-height: 17px;
                    margin: 5px 0;
                }
                ul {
                    padding-left: 24px;
                    li {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 15px;
                        font-family: $fontfamily;
                        padding-bottom: 5px;
                        color: $primary_color;
                    }
                }
            }

            .line {
                width: 1px;
                background-color: $violet;
            }
        }
    }
}
