@import '../../variable.scss';

.comparesec{
    background: rgba(32, 32, 32, 0.5);
backdrop-filter: blur(2px);

    .compare{
        padding: 90px 15px 15px;
        background-color: $white;
    }
}












