<div class="container">
    <section class="comparesec">
        <div class="comparein">
            <div class="comparehead">Comparison</div>



            <div class="summarysec">
                <div class="summarysectop">
                    <div class="summaryleft"><img src="../../assets/images/pet2.png" alt=""></div>
                    <div class="line"></div>
                    <div class="summaryright"><img src="../../assets/images/aspca2.png" alt=""></div>
                </div>
                <div class="summaryhead">Summary</div>
                <div class="planbox">
                    <div class="planboxin">
                        <div class="planleft"> <span>Plan Type : </span> Accident+Illness</div>
                        <div class="line"></div>
                        <div class="planright"><span>Plan Type : </span> Accident+Illness</div>
                    </div>
                    <div class="planboxin">
                        <div class="planleft"> <span>Coverage : </span> $5000</div>
                        <div class="line"></div>
                        <div class="planright"><span>Coverage : </span> $5000</div>
                    </div>
                    <div class="planboxin">
                        <div class="planleft"> <span>Reimbursement : </span> 70%</div>
                        <div class="line"></div>
                        <div class="planright"><span>Reimbursement : </span> 70%</div>
                    </div>
                    <div class="planboxin">
                        <div class="planleft"> <span>Deductible :</span> $1000</div>
                        <div class="line"></div>
                        <div class="planright"><span>Deductible :</span> $1000</div>
                    </div>
                    <div class="planboxin">
                        <div class="planleft"> <span>Incident Limit : </span>None</div>
                        <div class="line"></div>
                        <div class="planright"> <span>Incident Limit : </span>None</div>
                    </div>
                </div>
                <div class="summaryhead">Accidents</div>
                <div class="accidentbox">
                    <div class="accidentboxin">
                        <ul>
                            <li>Accidents</li>
                            <li>ACL Injuries</li>
                            <li>Broken Bones</li>
                            <li>Foreign Body Ingestion</li>
                            <li>Toxic Ingestion</li>
                            <li>Hydrotherapy</li>
                            <li>Hypothyroidism</li>
                        </ul>
                    </div>

                    <div class="line"></div>
                    <div class="accidentboxin">
                        <ul>
                            <li>Accidents</li>
                            <li>ACL Injuries</li>
                            <li>Broken Bones</li>
                            <li>Foreign Body Ingestion</li>
                            <li>Cuts</li>
                            <li>Lodged Foreign Objects</li>
                            <li>Toxic Ingestions</li>
                        </ul>
                    </div>

                </div>
                <div class="summaryhead">Illness</div>
                <div class="illnessbox">
                    <div class="illnessboxin">
                        <ul>
                            <li>Acupuncture
                                - Alternative plus</li>
                            <li>Allergies</li>
                            <li>Behavioral Issues</li>
                            <li>Cancer Coverage/li>
                            <li>Chiropractic
                                - Alternative plus</li>
                            <li>Digestive Issues</li>
                            <li>Herbal therapy
                                - Alternative Plus</li>
                            <li>Hydrotherapy</li>
                            <li>Hyperthyroidism</li>
                            <li>Injuries</li>
                            <li>Illness</li>
                            <li>IVDD</li>
                            <li>UTI’s</li>
                        </ul>
                    </div>

                    <div class="line"></div>
                    <div class="illnessboxin">
                        <div class="listhead">Illnesses</div>
                        <ul>
                            <li>Cancer</li>
                            <li>Arthritis</li>
                            <li>Allergies</li>
                            <li>Hypothyroidism</li>

                        </ul>
                        <div class="listhead">Hereditary &
                            Congenital conditions</div>
                        <ul>
                            <li>Heart disease</li>
                            <li>IVDD</li>
                            <li>Eye disorders</li>
                            <li>Hip dysplasia</li>

                        </ul>
                        <div class="listhead">Behavioral issues</div>
                        <ul>
                            <li>Excessive licking</li>
                            <li>Fur pulling</li>
                            <li>Destruction at
                                the home</li>
                            <li>Dental disease</li>
                            <li>Hereditary &
                                Congenitial conditions</li>
                        </ul>
                    </div>

                </div>
                <div class="summaryhead">Others</div>
                <div class="othersbox">
                    <div class="othersboxin">
                        <ul>
                            <li>Acupuncture
                                - Alternative plus</li>
                            <li>Allergies</li>
                            <li>Behavioral Issues</li>
                            <li>Cancer Coverage</li>
                            <li>Chiropractic
                                - Alternative plus</li>
                            <li>Digestive Issues</li>
                            <li>Herbal therapy
                                - Alternative Plus</li>
                            <li>Hydrotherapy</li>
                            <li>Hyperthyroidism</li>
                            <li>Injuries</li>
                            <li>Illness</li>
                            <li>IVDD</li>
                            <li>UTI’s</li>
                        </ul>
                    </div>
                    <div class="line"></div>
                    <div class="othersboxin"></div>
                </div>
                <div class="summaryhead">Wellness/Add-ons</div>
                <div class="wellnessbox">



                    <div class="wellnessboxin">
                        <div class="wellhead">a) Exam Plus</div>
                        <ul>
                            <li>Primary care vets</li>
                            <li>Emergency hospitals</li>
                            <li>Specialty clinics</li>

                        </ul>
                        <div class="wellhead">b) Hereditary Plus</div>
                        <ul>
                            <li>Heart disease</li>
                            <li>Elbow dysplasia</li>
                            <li>Arthritis</li>
                            <li>Hip dysplasia</li>
                            <li>Diabetics</li>
                            <li>Luxating patella</li>
                            <li>Spondylosis</li>
                            <li>Eye disorders</li>

                        </ul>
                        <div class="wellhead">c) Breeding coverage Plus</div>
                        <div class="wellhead">d) Support Plus</div>
                        <ul>
                            <li>Cremation</li>
                            <li>Burial</li>
                            <li>Urns</li>
                            <li>Memorials</li>
                           

                        </ul>
                    </div>
                    <div class="line"></div>
                    <div class="wellnessboxin">
                        <div class="wellhead">a) Basic preventive care</div>
                        <ul>
                            <li>Dental cleaning</li>
                            <li>Wellness exam</li>
                            <li>Deworming</li>
                            <li>DHLPP Vaccine/Titer</li>
                            <li>Rabies or Lyme
                                Vaccine/Titer</li>
                            <li>Fecal test</li>
                            <li>Heartworm Test</li>
                           

                        </ul>
                        <div class="wellhead">b) Prime preventive care</div>
                        <ul>
                            <li>Dental Cleaning or
                                Neuter</li>
                            <li>Wellness exam</li>
                            <li>Deworming </li>
                            <li>Health certificate </li>
                            <li>Flea/ heartworm
                                prevention</li>
                            <li>DHLPP Vaccine/Titer</li>
                            <li>Deworming</li>
                            <li>DHLPP Vaccine/Titer</li>
                            <li>Rabies or Lyme
                                Vaccine/Titer</li>
                            <li>Bordetella
                                Vaccine/Titer</li>
                            <li>Fecal Test</li>
                            <li>Heartworm Test</li>
                            <li>Blood Test</li>
                            <li>Urinalysis</li>

                        </ul>
                        
                    </div>
                </div>
                <div class="summaryhead">Plan exclusion</div>
                <div class="planexbox">
                    <div class="planexboxin">
                        <ul>
                            <li>Hereditary or     Congenital Conditions
                                Unless Enrolled in Hereditary Plus</li>
                            <li>Exam Fees (Unless Enrolled in Exam Plus)</li>
                            <li>Routine and Wellness
                                Care(Unless Enrolled
                                in Defender/Defender Plus)</li>
                            <li>Costs Related to Breeding</li>
                            <li>Elective or Cosmetic
                                Procedures</li>
                           
                        </ul>
                    </div>
                    <div class="line"></div>
                    <div class="planexboxin">
                        <ul>
                            <li>Pre-existing Conditions</li>
                            <li>Cosmetic Procedures</li>
                            <li>Breeding Costs</li>
                            <li>Preventive Care</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>