<div class="compare-section">
  <h2>Compare Plans</h2>
  <div class="compare-scroll">
  <div class="compare-section-content">
    <div class="box">
      <div class="listhead"></div>
       <ul class="list-left">
        <li class="head">High Level Details</li>
        <li>Plan Type </li>
        <li>Coverage</li>
        <li>Reimbursement</li>
        <li>Deductible</li>
        <li>Incident Limit</li>
        <li class="head">Coverage Details</li>

        <li>Arthritis</li>
        <li>Blood Panel</li>
        <li>Blood Test</li>
        <li>Blood, Fecal, Parasite Exam</li>
        <li>Bordetella</li>
        <li>Bordetella Vaccine/Titer</li>


       </ul>
    </div>
    <div class="box">
      <div class="listhead">
        <div><img src="../../assets/images/petpartners.png" alt=""></div>
        <h3>Compnion Care</h3>
        <p>Premium (Monthly)</p>
        <h4>$10.08</h4>
      </div>
      <ul class="list">
        <li><button class="enrollbtn">Enroll</button></li>
        <li><span class="planname">Accident+Illness</span> </li>
        <li>$5000</li>
        <li>70%</li>
        <li>$1000</li>
        <li>None</li>
        <li class="head">&nbsp;</li>

        <li class="yellow">Add-On</li>
        <li class="red">X</li>
        <li class="red">X</li>
        <li class="yellow">Add-On</li>
        <li class="red">X</li>
        <li class="red">X</li>
       </ul>
    </div>
    <div class="box">
      <div class="listhead">
        <div><img src="../../assets/images/petpartners.png" alt=""></div>
        <h3>Compnion Care</h3>
        <p>Premium (Monthly)</p>
        <h4>$10.08</h4>
      </div>
      <ul class="list">
        <li><button class="enrollbtn">Enroll</button></li>
        <li><span class="planname">Accident+Illness</span> </li>
        <li>$5000</li>
        <li>70%</li>
        <li>$1000</li>
        <li>None</li>
        <li class="head">&nbsp;</li>

        <li class="yellow">Add-On</li>
        <li class="red">X</li>
        <li class="red">X</li>
        <li class="yellow">Add-On</li>
        <li class="red">X</li>
        <li class="red">X</li>

       </ul> 
    </div>
  </div>
</div>
</div>