@import "../../variable.scss";

.plandetails {
    border: 1px solid $primary_color;
    border-radius: 8px;
    background-color: $white;
    margin-top: 10px;
    .headrow {
        background-color: #b1f1ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        .heading {
            font-family: $fontfamily;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            color: $primary_color;
        }

    }
    .plandtlsbox{
     width: 100%;
     display: flex;
     flex-direction: column;
     .planhead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px ;
        p {
            font-weight: 600;
            font-size: 14px;
            font-family: $fontfamily;
            color: $primary_color;
            margin: 0;
        }
    }

    .planlist{
        width: calc(100% - 10px);
        border: 1px solid $primary_color;
    border-radius: 8px;
    background-color: #D0D0D0;
    margin: 5px;
    padding: 5px 0;
    }

    }

    .addonsbox {
        background-color: #FFF2E0;
        .addonsin {
            padding: 10px;
            ul {
                padding-bottom: 10px;
                padding-left: 20px;
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: $fontfamily;
                    padding-bottom: 5px;
                    color: $primary_color;
                   &.bold{
                        font-weight: 600;
                        padding: 15px 0;

                    }
                }
            }
        }
    }

    .coverbox {
        background-color: #f6ffe9;
        .coverin {
            padding: 10px;
            ul {
                padding-left: 20px;
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: $fontfamily;
                    padding-bottom: 5px;
                    color: $primary_color;
                }
            }
        }
    }

    .notcoverbox {
        background-color: #FFE5E5;
        .notcoverin {
            padding: 10px;
            ul {
                padding-left: 20px;
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: $fontfamily;
                    padding-bottom: 5px;
                }
            }
        }
    }



}