<section class="plandetails">
    <div class="headrow">
        <div class="heading">Plan Details</div>
    </div>

    <div class="plandtlsbox">

        <div class="planhead">
            <img src="../../assets/images/petpartners.png" alt="">
            <p>Companion Care</p>
        </div>
       
        <div class="planlist">
           
            <mat-tab-group>
                <mat-tab label="Covered" class="tab1"> 
                    <div class="coverbox">
                        <div class="coverin">
                            <ul>
                                <li> Accident and Illness</li>
                                <li>ACL Injuries</li>
                                <li>Acupuncture</li>
                                <li>Allergies</li>
                                <li>Behavioral Problems</li>
                                <li>Broken Bones</li>
                                <li>Cancer</li>
                                <li>Chiropratic</li>
                                <li>Congenital Conditions</li>           
                                <li>Congenital Defects or Abnormalities</li>
                                <li>Digestive Illness</li>
                                <li> Emergency Care</li>
                                <li>Exam Fees</li>
                                <li>Eye, Ear, Skin Conditions</li>
                                <li>Herbal Therapy</li>
                                <li>Hereditary Conditions</li>
                                <li>Hip Dysplasia</li>
                                <li>Hospitalization</li>
                                <li>Hypothroidism</li>
                                <li>Injuries to Teeth or Mouth</li>
                                <li>IVDD</li>
                                <li>      Laboratory Tests</li>
                                <li>Live Vet Chat 24/7</li>
                                <li>Physical Therapy</li>
                                <li>Prescription Medication</li>
                                <li>Surgery</li>
                                <li>Swallowed Objects</li>
                                <li>Toxin Ingestion</li>
                                <li>UTIs</li>
                                <li>Vitamins & Supplements</li>
                                <li>Wellness Care</li>
                                <li>X-Rays</li>
                            </ul>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Not Covered"> 
                    <div class="notcoverbox">
                        <div class="notcoverin">
                            <ul>
                                <li>Anal gland expression</li>
                                <li>Breeding</li>
                                <li>Effective procedures</li>
                                <li>Euthanasia</li>
                                <li>Experimental Treatments</li>
                                <li>Grooming</li>
                                <li>Microchip</li>
                                <li>Mobility Devices </li>
                                <li>Nail Trims</li>
                                <li>Non-Routine Dental</li>
                                <li>Parasites</li>
                                <li>Pet Ambulance</li>
                            </ul>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Add-Ons"> 
                    <div class="addonsbox">
                        <div class="addonsin">
                          <ul>
                            <li class="bold">Exam Plus</li>
                            <li>Behavioral Problems</li>
                            <li>Emergency Hospitals</li>
                            <li>Primary Care Vets</li>
                            <li>Speciality Clinics</li>
                            <li class="bold">Hereditary Plus</li>
                            <li>Arthitis</li>
                            <li>Diabetics</li>
                            <li>Elbow Displacia</li>
                            <li>Eye Disorders</li>
                            <li>Heart Disease</li>
                            <li>Hip Displacia</li>
                            <li>Luxating Patella</li>
                            <li>Spondolysis</li>
                            <li class="bold">Breeding Coverage</li>
                  <li class="bold">Support Plus</li>
                  <li>Cremation</li>
                  <li>Burial</li>
                  <li>Urns</li>
                  <li>Memorials</li>
                  <li class="bold">Defender Plus</li>

                          </ul>
                        </div>
                      </div>
                 </mat-tab>
              </mat-tab-group>

        </div>




    </div>

    </section>
