<div class="container">
    <section class="enrollsec">
        <h5>Enrollment</h5>

        <section class="overviewsec">
            <div class="overviewin">
                <div class="overhead">
                    <div class="overleft">Overview</div>
                    <div class="overright"><img src="../../assets/images/edit.png" alt="">
                        <div class="edit">Edit</div>
                    </div>
                </div>
                <div class="overbtm">
                    <img src="../../assets/images/aspca.png" alt="">
                    <div class="coveragelist">
                        <div class="covlistin">
                            <div class="covlistleft">Coverage :</div>
                            <div class="covlistright">$1000</div>
                        </div>
                        <div class="covlistin">
                            <div class="covlistleft">Reimbursement :</div>
                            <div class="covlistright">70%</div>
                        </div>
                        <div class="covlistin">
                            <div class="covlistleft">Deductible :</div>
                            <div class="covlistright">$100</div>
                        </div>
                        <div class="covlistin">
                            <div class="covlistleft">Incident :</div>
                            <div class="covlistright">None</div>
                        </div>
                        <div class="addhead">Add-Ons</div>
                        <div class="formout">
                            <span class="checkboxdiv">
                                <mat-checkbox>None </mat-checkbox>
                
                            </span>
                            <span class="checkboxdiv">
                                <mat-checkbox>Basic Preventive Care </mat-checkbox>
                            </span>
                            <span class="checkboxdiv">
                                <mat-checkbox>Prime Preventive Care</mat-checkbox>
                            </span>
                        </div>
                        
                    </div>
                    <div class="plandetails">
                        <div class="planout">
                            <div class="planleft">Plan Amount :</div>
                            <div class="planright">$13</div>
                        </div>
                        <div class="planout">
                            <div class="planleft">Add-On :<br> <span>Basic Preventive Care</span> </div>
                            <div class="planright">$0</div>
                           
                        </div>
                        <div class="planout">
                            <div class="planleft">
                                <span>Transaction Fee :</span><br>
                                Monthly Total :
                            </div>
                            <div class="planright">
                                <span>$2</span> <br>
                                $15
                            </div>
                        </div>
                    </div>
                    <div class="proceed">Proceed</div>
                    <p>Save and Email your Quote</p>
                    <select name="" id="" class="overfieldstyle">
                        <option value=""></option>
                        <option value=""></option>

                    </select>
                </div>

            </div>
            </section>
    </section>
</div>
