
    <section class="filtersec">
        <div class="filterhead">
            <div class="comparehead">Plan Filters</div>
            <a href="">Reset All</a>
        </div>

        
        <div class="planbox">
            <div class="planhd">Plans</div>
            <div class="covlistin ">
                <div class="covlistleft">

                    <span class="checkboxdiv">
                        <mat-checkbox><img src="../../assets/images/aspca2.png" alt=""></mat-checkbox>
                    </span>
                </div>
            </div>
            <div class="covlistin ">
                <div class="covlistleft">

                    <span class="checkboxdiv">
                        <mat-checkbox><img src="../../assets/images/pet2.png" alt=""></mat-checkbox>
                    </span>
                </div>
            </div>
            <div class="covlistin ">
                <div class="covlistleft">

                    <span class="checkboxdiv">
                        <mat-checkbox><img src="../../assets/images/filterfigo.png" alt=""></mat-checkbox>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="categorybox planbox">
            <div class="planhd">Category</div>
            <div class="abox">
                <a href="" class="a_ill">Accident+Illness</a>
                <a href="" class="a_only">Accident Only</a>
            </div>
        
        </div>


        <div class="filterhead">
            <div class="comparehead">Price Filters</div>
            <a href="">Reset </a>
        </div>

        <div class="categorybox planbox">
            <div class="planhd">Displayed Price</div>
            <div class="pricefilter">
             
      
                      <mat-slider
                          [max]="max"
                          [min]="min"
                          [step]="step"
                          [discrete]="thumbLabel"
                          [showTickMarks]="showTicks">
                        <input matSliderThumb [(ngModel)]="value">
                      </mat-slider>
                   
                      <div class="example-label-container">
                        <label id="example-name-label" class="name-label"><b>Min:</b> {{value}} </label>
                        <label class="example-value-label" class="name-label"><b>Max:</b> {{value}}</label>
                      </div>
               
            </div>


            <div class="flterselect">
                <div class="selectbox">
                    <div class="box">
                        <mat-form-field appearance="fill">
                            <mat-label>Coverage</mat-label>
                            <mat-select>
                                <mat-option value="option1">4000</mat-option>
                                <mat-option value="option2">5000</mat-option>
                                <mat-option value="option3">6000</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="box">
                        <mat-form-field appearance="fill">
                            <mat-label>Reimbursement</mat-label>
                            <mat-select>
                                <mat-option value="option1">70%</mat-option>
                                <mat-option value="option2">80%</mat-option>
                                <mat-option value="option3">90%</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="box">
                        <mat-form-field appearance="fill">
                            <mat-label>Deductible</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">4000</mat-option>
                                <mat-option value="option2">5000</mat-option>
                                <mat-option value="option3">6000</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="box">
                        <mat-form-field appearance="fill">
                            <mat-label>Incident</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">70%</mat-option>
                                <mat-option value="option2">80%</mat-option>
                                <mat-option value="option3">90%</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div>
    
                </div>
            </div>
        
        </div>

        <div class="btnfilter">
            <button>Apply Filters</button>
        </div>


    </section>
