@import "../../variable.scss";

.filtersec {
    border: 1px solid $primary_color;
    border-radius: 8px;
    background-color: $white;
    margin-top: 10px;
    .filterhead {
        background-color: #b1f1ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        .comparehead {
            font-family: $fontfamily;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            color: $primary_color;
        }
        a {
            font-family: $fontfamily;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-decoration: underline;

            color: #004fa9;
        }
    }
    .planbox {
        padding: 15px;
        .planhd {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            font-family: $fontfamily;
            color: #000;
        }
        .covlistin {
            padding: 5px 0;

            .covlistleft {
            }
        }
    }

    .categorybox {
        padding: 25px 15px 20px;
        text-align: center;
        .abox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 25px;
            gap: 20px;
            .a_ill {
                background: #84cc16;
                border-radius: $radius;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                font-family: $fontfamily;
                text-decoration: none;
                padding: 8px 10px;
                width: fit-content;
                color: $primary_color;
                border: 1px solid #fff;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
            }
            .a_only {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                background: #a78bfa;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
                border-radius: 5px;
                font-family: $fontfamily;
                text-decoration: none;
                padding: 8px 10px;
                width: fit-content;
                color: $primary_color;
            }
        }
        .pricefilter{
            width: 100%;
            display: flex;
            flex-direction: column;
            .example-label-container{
                width: 100%;
                justify-content: space-between;
                display: flex;
                .name-label{
                    color: #000;
                    font-size: 14px;
                }
            }
        }

        .flterselect{
            display: flex;
            width: 100%;
            flex-direction: column;
            margin-top: 20px;
            .selectbox{
                .box{
              margin-top: 10px;
                }
            }
        }
    }
    .btnfilter{
        padding: 25px 0;
        display: flex;
        justify-content: center;
        button{
            font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    font-family: $fontfamily;
    color: $white;
    background: #702C90;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
    border-radius: $bigradius;
    padding: 10px 30px;
        }
    }
   
}
