<div class="container">
    <section class="successsection">
        <div class="succimg"><img src="../../assets/images/success.png" alt=""></div>
        <h3>Payment Successful!</h3>
        <p>Thank you! Your payment of $25 has been received.</p>
        <div class="policyid"> Policy enrolled succesffully.Policy ID : 66554433221100.</div>
        <div class="planbox">
            <h4>Plan Summary</h4>
            <div class="summarylist">
                <div class="listouter">
                    <div class="listleft">Policy enrolled to : </div>
                    <div class="listright bold">Tommy</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Pet’s Age :</div>
                    <div class="listright bold"> 1 Year</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Payment : </div>
                    <div class="listright ">Monthly</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Plan Valid from :</div>
                    <div class="listright bold"> dd/mm/yyyy</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Plan Valid till :</div>
                    <div class="listright bold">dd/mm/yyyy</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Plan Amount : </div>
                    <div class="listright "> <b> $13</b> per Month</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Add-Ons Amount :</div>
                    <div class="listright bold"> $10</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Transaction Fee : </div>
                    <div class="listright bold"> $2</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Total Amount :</div>
                    <div class="listright "><b> $25</b> per Month</div>
                </div>

            </div>
            <h4>Plan Details</h4>
            <div class="summarylist">
                <div class="listouter">
                    <div class="listleft">Plan Name : </div>
                    <div class="listright ">Companion Care</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Insurance Provider :</div>
                    <div class="listright "> <img src="../../assets/images/petpartners.png" alt=""></div>
                </div>
                <div class="listouter">
                    <div class="listleft">Coverage : </div>
                    <div class="listright ">$4000</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Deductible :</div>
                    <div class="listright "> 100 </div>
                </div>
                <div class="listouter">
                    <div class="listleft">Reimbursement : </div>
                    <div class="listright ">70%</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Incident : </div>
                    <div class="listright "> None</div>
                </div>
                <div class="listouter">
                    <div class="listleft">Add-Ons :</div>
                    <div class="listright ">Basic </div>
                </div>


            </div>
        </div>
    </section>
</div>