<mat-dialog-content class="mat-typography">
    <!-- <section class="searchsec">
        <div class="searchtop">
            <img src="../../assets/images/search.png" alt="">
            <div class="searchhead">New Search is required!</div>
        </div>
        <p>This will be redirected to the query page.
            Please click proceed for a new search.</p>
    </section> -->

  

    <div class="container">
        <!-- <app-compare></app-compare> -->
        <!-- <app-plandetails></app-plandetails> -->
        <!-- <app-filter></app-filter> -->
    </div>


</mat-dialog-content>


   