@import '../../variable.scss';
.searchsec{
    width: 90%;
    border-radius: $radius;
    background-color: $white;
    padding: 20px;
    .searchtop{
        display: flex;
        justify-content: center;
        gap: 20px;
        .searchhead{
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            font-family: $fontfamily;
        }
    }
    p{
        padding: 15px 0;
        font-weight: 400;
font-size: 14px;
line-height: 21px;
font-family: $fontfamily;
margin: 0;
    }
    .searchbtm{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        a{
            text-decoration: underline;
            font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: $fontfamily;
color: $primary_color;
        }
        button{
            background: #FFB800;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
border-radius: $radius;
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding: 8px 16px;
font-family: $fontfamily;
        }

    }
}







