<router-outlet>
  <!-- Completed -->
  <app-header></app-header>
<!-- <app-query></app-query> -->
<!-- <app-enroll-form1></app-enroll-form1> -->
<!-- <app-payment-success></app-payment-success> -->
<!-- <app-payment-failed></app-payment-failed> -->
<!-- <app-error></app-error> -->
<!-- <app-enroll-review></app-enroll-review> -->
<app-quote></app-quote>
<!-- <app-compare></app-compare> -->
<!-- <app-filter></app-filter> -->
<!-- <app-plandetails></app-plandetails> -->
<app-footer></app-footer>
</router-outlet>


