@import '../../../variable.scss';



.headersection{
    width: 100%;
    background-color: $white;
    padding: 7px 30px ;
    .headerin{
        width: 100%;
        
        .logo{
        }
    }
}