@import '../../../variable.scss';


.header{
    background-color: $white;
.headersection{
    width: 100%;
    padding: 7px 5px ;
    .headerin{
        width: 100%;
        
        .logo{
        }
    }
}
}