
    <section class="infosection">
    

        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    For Cover to be Valid Please Ensure:
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="infopara">
                <ul>
                    <li> You are the owner of the pet.</li>
                    <li>Your pet lives with you.</li>
                    <li>You are a full time resident of the
                        United States.</li>
                </ul>
    
                <p>By submitting your details you agree
                    we may pass this information to third
                    party insurance providers in order to
                    obtain insurance quotations. Please
                    see our Terms and Privacy Policy for
                    details of how we store and use your
                    information. Please refer to the terms
                    and privacy policies of individual
                    insurance providers for details of how
                    they manage your data.</p>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    What Does Pet Insurance Cover?
                  </mat-panel-title>
  
                </mat-expansion-panel-header>
                <div class="infopara">
             
                  <p>By submitting your details you agree
                      we may pass this information to third
                      party insurance providers in order to
                      obtain insurance quotations. Please
                      see our Terms and Privacy Policy for
                      details of how we store and use your
                      information. Please refer to the terms
                      and privacy policies of individual
                      insurance providers for details of how
                      they manage your data.</p>
              </div>
              </mat-expansion-panel>

              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    What Does Pet Insurance Cover?
                  </mat-panel-title>
  
                </mat-expansion-panel-header>
                <div class="infopara">
             
                  <p>By submitting your details you agree
                      we may pass this information to third
                      party insurance providers in order to
                      obtain insurance quotations. Please
                      see our Terms and Privacy Policy for
                      details of how we store and use your
                      information. Please refer to the terms
                      and privacy policies of individual
                      insurance providers for details of how
                      they manage your data.</p>
              </div>
              </mat-expansion-panel>


              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    What If Your Pet has Pre-existing
                    Medical Conditions?
                  </mat-panel-title>
  
                </mat-expansion-panel-header>
                <div class="infopara">
             
                  <p>By submitting your details you agree
                      we may pass this information to third
                      party insurance providers in order to
                      obtain insurance quotations. Please
                      see our Terms and Privacy Policy for
                      details of how we store and use your
                      information. Please refer to the terms
                      and privacy policies of individual
                      insurance providers for details of how
                      they manage your data.</p>
              </div>
              </mat-expansion-panel>




        
          </mat-accordion>





     
        
        <div class="quest">

        </div>


    </section>
