@import '../../../variable.scss';
.footer{
    background-color: #1E1E1E;
.footersection{
    width: 100%;
    padding: 10px 5px;
    p{
        color:$white;
        font-weight: 300;
        font-size: 10px;
        margin: 0;
        a{
           color: $white;
            font-weight: 300;   
            font-size: 10px;
            margin: 0;
        }
    }
}
}