<div class="container">
    <section class="petsection">
        <h2>Pet Insurance</h2>
        <p>Find and Compare the Best Pet Insurance</p>
    </section>
    <section class="search">
        <div class="fieldout">
            <label for="">What is your pet’s name?*</label>
            <input type="text" class="fieldstyle">
        </div>
        <div class="fieldout">
            <label for="">Is your pet a dog or cat?*</label>
            <div class="box">
                <div class="boxin">
                    <img src="../../assets/images/dog.png" alt="">
                    <span>Dog</span>

                </div>
                <div class="boxin">
                    <img src="../../assets/images/cat.png" alt="">
                    <span>Cat</span>
                </div>
            </div>
        </div>
        <div class="fieldout">
            <label for="">What gender is your pet?*</label>
            <div class="box">
                <div class="boxin">
                   <img src="../../assets/images/male.png" alt="">
                    <span>Male</span>

                </div>
                <div class="boxin">
                    <img src="../../assets/images/female.png" alt="">
                    <span>Female</span>
                </div>
            </div>
        </div>
        <div class="fieldout">
            <label for="">What breed is your pet?*</label>
            <input type="text" class="fieldstyle">
        </div>
        <div class="fieldout">
            <label for="">How old is your pet?*</label>
            <select name="" id="" class="fieldstyle">
                <option value="">Dog</option><option value="">Cat</option>
            </select>
        </div>
        <div class="fieldout">
            <label for="">What is your ZIP code?*</label>
            <input type="text" class="fieldstyle">
        </div>
        <div class="fieldout">
            <label for="">What is your Email Id?*</label>
            <input type="text" class="fieldstyle">
        </div>
        <button class="quote">   Get Quotes</button>
        
    </section>
    <app-insurance-info></app-insurance-info>
</div>