@import "../../variable.scss";
.enrollsec {
    h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: $primary_color;
        text-align: center;
        padding: 15px 0;
        margin: 0;
        font-family: $fontfamily;
    }
    .overviewsec {
        margin: 0 18px 18px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $white;
        border-radius: $radius;
        padding: 12px;
        .overviewin {
            border: 1px solid $primary_color;
            border-radius: 8px;
            .overhead {
                background-color: #b1f1ff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                .overleft {
                    font-family: $fontfamily;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    color: $primary_color;
                }
                .overright {
                    display: flex;
                    flex-direction: column;
                    .edit {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 15px;
                        color: $violet;
                        font-family: $fontfamily;
                    }
                }
            }
            .overbtm {
                margin: 20px;
                .plandetails {
                    background-color: #f1eaf4;
                    padding: 0 9px;
                    margin-bottom: 20px;

                    .planout {
                        border-bottom: 1px solid #afafaf;
                        display: flex;
                        justify-content: space-between;
                        padding: 14px 0;
&:last-child{border:none}
                        .planleft {
                            font-weight: 500;
                            font-size: 14px;
                            font-family: $fontfamily;
                            line-height: 21px;
                            color: $primary_color;
                          
                            span {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 15px;
                                font-family: $fontfamily;
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .planright {
                            font-weight: 500;
                            font-size: 14px;
                            font-family: $fontfamily;
                            line-height: 21px;
                            color: $primary_color;
                            span {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 15px;
                                font-family: $fontfamily;
                            }
                        }
                    }
                }
                .proceed {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: $radius;
                    background-color: #03a700;
                    padding: 11px 0;
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: $white;
                    font-family: $fontfamily;
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: $fontfamily;
                    margin: 0;
                    padding: 9px 0;
                }
                .overfieldstyle{
                    border-radius: 2px;
                    background-color:$white;
                    padding: 5px;
                    border: 1px solid $violet;
                    height: 50px;
                    width: 100%;
                    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
}
